.hero {
  height: calc(100vh - 122px);
  padding-top: 189px;
  padding-left: 117px;
  font-family: Roboto Slab;
}
.title {
  background: rgba(255, 255, 255, 0.38);
  width: 660px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
h1 {
  font-weight: bold;
  font-size: 95px;
  line-height: 125px;
  color: #f8f8f8;
}
.subtitle {
  max-width: 700px;
  font-size: 50px;
  line-height: 97.88%;
  font-weight: 500;
  margin-top: 40px;
  color: #eeeeee;
}
.additional-text {
  max-width: 712px;
  font-size: 25px;
  line-height: 120.38%;
  color: #e7e6e6;
  margin-top: 40px;
}
