nav {
  height: 122px;
  max-width: 100%;
  background: #676767;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  font-family: Langar;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 122px;
  color: white;
}
.navRight {
  display: flex;
  list-style: none;
}
.navRight li {
  margin: 0 30px;
}
.navBtn {
  width: 180px;
  height: 50px;
  background: #b19981;
  border-radius: 10px;
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120.38%;
  color: white;
  cursor: pointer;
  outline: none;
}
