* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: url("./img/gandalf-lord-of-the-rings-minas-tirith-e1527276212907.jpg"),
    rgba(202, 154, 154, 0.28);
  background-blend-mode: saturation;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
